#sidebar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 250px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: gray; 
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
	padding: 10px;
}

#main {
  padding: 0px 10px;
}

#sidebar > * {
	width: 100%;
}

#notes {
	height: 80%;
}
