#sidebar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 250px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: CornflowerBlue; 
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  padding: 10px;
}

#sidebar > input {
    /*this makes input tags behave sanely, I dont know why this isnt the default*/
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    margin-bottom: 5px;
}

#main {
    margin-left: 250px;
    padding: 0px 10px;
    margin-left: 260px;
}

#sidebar > * {
    width: 100%;
}

#notes {
    margin-top: 10px;
	height: 70%;
}

#title {
    font-size: 20pt;
    font-style: bold;
}
