<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>Markdown Note</title>
		<link rel="stylesheet" href="/static/main.css">
		<link rel="stylesheet" type="text/css" href="/res/content.css">
		<base href={{asset_dir}}>
        <script src="/static/lib/socket.io.js"></script>
		<script type="text/javascript" src="/static/main.js"></script>
	</head>
	<body>
		<div id="sidebar">
			<p id="title">Markdown Note</p>
			<label for="search_pattern">Title:</label>
			<input type="text" id="search_pattern">
			<label for="group_pattern">Group:</label>
			<input type="text" id="group_pattern">
			<label for="tag_pattern">Tags:</label>
			<input type="text" id="tag_pattern">

			<select name="" id="notes" multiple>
			</select>
		</div>
		<div id="main">
			<div id="content" class="body">Display</div>
		</div>
	</body>
</html>
